<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container">
      <div id="not-found">
        <h1><span class="focus">404</span></h1>
        <hr />
        <p>Page not found! Are you lost?</p>
      </div>
      <div id="go-home">
        <a href="/">
          <button>Go Home</button>
        </a>
      </div>
    </div>
  </body>
</html>
