<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="container">
      <div class="index">
        <header id="pancakes-header">
          <div>
            <h1>
              IF YOU WANT A <span class="focus-pancakes">PANCAKE</span> YOU ARE
              IN THE RIGHT PLACE!
            </h1>
          </div>
        </header>
        <hr />
        <p>Login or Sign Up to have access to your pancake photo right away!</p>
      </div>
      <div id="i-want">
        <a href="/session/new"> I want my pancake! </a>
      </div>
    </div>
  </body>
</html>
